:root{
    --color-ptimary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: white;

}
/* Typography */
html{
    /* 62.5% of 16 px is 10 px */
    font-size: 62.5%;
}

body{
    font-family: inter, 'Times New Roman', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
    background: linear-gradient(0deg,lightgreen,lightblue );
    
    
}
h1,h2,h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 2rem;
}
p{
    margin-top: 0;
}
@media  screen and (min-width: 1024px) {
    body{
        font-size: 2rem;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 4rem;
    }
}
img {
    width: 5rem;
  }
  img2{
    width: 10rem;
  }
/* grid */
.grid{
    display: grid;
}
@media  screen and (min-width: 768px) {
    .grid--1x2{
        grid-template-columns: 1fr 1fr;
    }
}
.project_1{
    padding: 3rem;

}
.project_image{
    width: 50rem;
}
.project_2{
    padding: 3rem;

}
.project_image2{
    width: 50rem;
}