p {
    color: seagreen;
  }
body{
  margin: 10px;
}

.product{

}
article.p{
  font-size: 140%;
  font-style: italic;
}
/* selector specificty */
h1{
  color: blueviolet;
}
.highlight{
  color: deeppink;
}

/* colors */
.box{
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg,dodgerblue,yellow);
  border: 10px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px red;
}